* {
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
}
.card-container {
    height: 100%;
    width: 100%;
    background: black;
    display: flex;
}



.card {
    width: 20%;
    height: 70%;
    border: lightgray 3px solid;
    margin: auto;
}

.card-id {
    background: black;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.card-name {
    text-align: center;
    margin: 50px auto auto auto;
    color: rgb(80, 80, 80) ;
    font-size: 30px;
}

/*.card-type {
    margin: 30px auto;
    background-color: white;
    border-radius: 1rem;
    padding: 4px;
    color: gray;
    font-size: 20px;
    width: fit-content;
}*/

/*.card-spell {
    font-size: 16px;
    text-align: center;
    margin-top: 30px; 
    border-radius: 1rem;
    border: 2px solid gray;
    color: black;
    width: fit-content;
    justify-content: center;
    width: 90%;
    padding: 3px;
    margin: 20px auto;
    font-family: sans-serif;
}*/

.card-img-front {
    width: 60%;
    height: 35%;
    display: flex;
    margin: auto;
}

.card-img-back { 
    display: flex;
    width: 60%;
    height: 35%;
    margin: auto;
}

